/* classic fix */
body{
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* NavBar */
li a{
  text-transform: capitalize;
}

.navbar a.brand{
  margin-left: 0;
}

.navbar a.logo{
  max-height: 40px;
  height: 40px;
  padding: 0 !important;  
}

.navbar a.logo > img {
  max-height: 38px;
  height: 38px;
  margin-top: 1px;
  opacity: .8;
}

.navbar a.logo > img:hover {
  opacity: 1;
}

/* Effect 1: Brackets */
.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo)::before,
.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo)::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo)::before {
  content: '[';
  /*color: #ccc;*/
  color: rgb(166, 102, 17);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo)::after {
  content: ']';
  /*color: #ccc; */
  color: rgb(166, 102, 17);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo):hover::before,
.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo):hover::after,
.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo):focus::before,
.navbar .nav>li>a:not(.brand):not(.dropdown-toggle):not(.logo):focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.navbar .nav>li:not(.active)>a {text-shadow: 1px 0 2px #bbb;}
.navbar .nav>li.active>a {text-shadow: 1px 0px 2px #333;}

.navbar .nav>li:not(.active)>a:not(.brand) {
  color:#fff;
  text-shadow: 1px 0 2px #0088cc;
}

.navbar .nav>li>a:not(.brand){
  padding: 10px 5px 10px 5px;
  font-weight: 700;
}

.navbar .nav>li>a:not(.brand):hover {
  color:#3a87ad;
  text-shadow: 1px 0px 2px #aaa;
}

.navbar .nav>li>a.brand:hover {
  color: #000;
  text-transform: none;
}

.carousel-control {
  margin-top: -20px;
  top: 50%;
}

#head_carousel .carousel-inner {
  max-height: 366px !important;
  min-height: 50px;
  background-color: #fafafa;
  border: 1px solid #333;
  box-shadow: 2px 2px 2px #bbb;
  background-image: url('../img/blueimp/loading.gif') ;
  -moz-background-size: 40px 40px; /* Firefox 3.6 */
  background-size: 40px 40px;
  background-repeat:no-repeat;
  background-position: center;
}

div.control-group > label.control-label:after {
    content: '\00a0';
}

.nav.pull-right > noscript > li{
    float: left;
}
.nav.pull-right > noscript > li > a{
    color: #000000;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFCC33;
    display: block;
}
.flag {
    background-image: url('/static/img/flags_ico.png') ;
    background-size: 224px 160px;
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: .3em;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: -16px 0
}
.flag.flag-ita {background-position: -182px -60px}
.flag.flag-ger {background-position: -70px -30px}
.flag.flag-ned {background-position: -70px -100px}
.flag.flag-eng {background-position: -154px -40px}

/* Carousell style */
.carousel img{ width:100%; }
/* News */
section[name=news] h3, section[name=news] h2 {
  display: inline-block;
}

section[name=news] h3:not(last-child):after, section[name=news] h2:not(last-child):after {
  content: "-";
  color: #fff;
  font-weight: 700;
}
/* footer */
footer .thumbnails img{
  max-height: 45px;
  min-height: 45px;
  height: 45px;
  width: auto;
}

/* Price table */
.table td, .table th{
  vertical-align: middle;
  text-align: center;
}
td.prices:before{ content : "\20ac  "; }

td.prices.gratis:before{ content : "GRATIS"; }

td.prices.special{
    background-color: #FFD761 !important;
    background-image: linear-gradient(to bottom, #FFDF80, #FFCC33) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #F00 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
td.prices.gratis{
    background-color: #5BB75B !important;
    background-image: linear-gradient(to bottom, #62C462, #51A351) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

/* Gallery */
li.gallery-ico:hover img, footer .thumbnails img:hover{
  -webkit-transform: scale(1.2) rotate(-2deg);
  -moz-transform: scale(1.2) rotate(-2deg);
  -o-transform: scale(1.2) rotate(-2deg);
  transform: scale(1.2) rotate(-2deg);
  border-color: #0e90d2;
}
li.gallery-ico img {
  width:100%;
  height: 125px;
  max-height: 125px;
}

h3 { text-transform: capitalize; }
.modal-footer { text-align: center; }

form label.control-label, form button, form a {text-transform: capitalize;}

/* youtube fix */
.gallery-video-placeholder:after {
  content: '-'; 
  color: rgba(0,0,0,0);
}

.gallery-video-placeholder {
  display: block;
  color: rgba(0,0,0,0);
  /*background-color: #000;*/
  border: 3px solid #000;
  border-radius: 3px;
}

.noise {
  background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

/* general purpose */
.rot90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.centered { text-align: center; }

/* news */

#news_ticker {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
} 
 
#news_ticker ul {
  float: left;
  padding-left: 5px;
  list-style: none;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  padding-top: 0;
  padding-bottom: 0;
}

#news_ticker ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
#news_ticker li {line-height: 30px;}
#news_ticker a {
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
}